

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="#Actual" style="background-image: url(''https://www.arttablo.com/upload/U-dunya-haritasitasi-ve-pusula-11-hd-goruntu-eski-cizim-dunya-haritasi-cografya-canvas-tablo1474290399-800.jpg');">
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Antikam</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home">Anasayfa</a></li>
                <li><a href="Urunler">Urunler</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">İletişim <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="www.facebook.com">Facebook</a></li>
                        <li><a href="www.intagram.com">İnstagram</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="SingUp"><span class="glyphicon glyphicon-user"></span> Kayıt</a></li>
                <li><a href="Login" class="glyphicon glyphicon-log-in"></span> Giriş</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>