@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-image: url('https://kunduz.com/wp-content/uploads/2020/04/beige-analog-gauge-697662-scaled-e1586328986881-1024x512.jpg'); ">

    <div class="jumbotron text-center">
        <h1>Antikam'a Hoş Geldiniz</h1>
        
        <p>İYİ ALIŞVERİŞLER DİLERİZ...</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>1. Adım</h3>
                <p>Ürünlerimize Göz Atın...</p>
            </div>
            <div class="col-sm-4">
                <h3>2. Adım</h3>
                <p>Hoşunuza Giden Bir Ürünü Sepetinize Ekleyin...</p>
            </div>
            <div class="col-sm-4">
                <h3>3. Adım</h3>
                <p>Güle Güle Kullanın...</p>
            </div>
        </div>
    </div>

</body>
</html>

